{% extends 'layouts/base.html' %}
{% block content %}
{% load static %}
<div class="container-fluid p-0">
    <div class="row mb-2 mb-xl-3">
        <div class="col-auto d-none d-sm-block">
            <h3><strong>{{ title }}</strong> List</h3>
        </div>

        <div class="col-auto ms-auto text-end mt-n1">
            <a href="#" data-micromodal-trigger="modal-1" class="btn btn-success">New Event</a>
            <!-- <a href="{% url 'event_create' %}" class="btn btn-success">New Event</a> -->
        </div>
    </div>
    <div class="row">
        {% for item in items_list %}
        <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 d-flex">
            <div class="card mb-4 shadow-sm">
                {% if item.image %}
                <img src="{{ item.image.url }}" class="card-img-top {% if not item.is_active %}opacity-25{% endif %}" alt="{{ item.name }}">
                {% else %}
                <img src="{% static 'images/default_1280_720.jpg' %}" class="card-img-top" alt="Placeholder image">
                {% endif %}
                <div class="card-body {% if not item.is_active  %}bg-secondary bg-opacity-25{% endif %}">
                    <div class="row mb-4">
                        <p class="h4 card-text"><strong>{{ item.event_name }}</strong></p>
                    </div>
                    <div class="row mb-2">
                        <div class="col-1">
                            <div class="row">
                                <p class="card-text"><i class="align-middle me-2" data-feather="calendar"></i></p>
                            </div>
                        </div>
                        <div class="col-5 col-md-5">
                            <div class="row">
                                <div class="text-md text-muted">From</div>
                            </div>
                            <div class="row">
                                <p class="text-md"><strong>{{ item.from_event_date|date:"j M Y" }}</strong></p>
                            </div>
                        </div>
                        <div class="col-5 col-md-5">
                            <div class="row">
                                <div class="text-md text-muted">To</div>
                            </div>
                            <div class="row">
                                <p class="text-md"><strong>{{ item.from_event_date|date:"j M Y" }}</strong></p>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-1">
                            <div class="row">
                                <p class="card-text"><i class="align-middle me-2" data-feather="clock"></i></p>
                            </div>
                        </div>
                        <div class="col-10">
                            <div class="row">
                                <div class="text-md text-muted">Time</div>
                            </div>
                            <div class="row">
                                <p class="text-md"><strong>{{ item.from_event_date|date:"g:i A" }} - {{ item.to_event_date|date:"g:i A" }}</strong></p>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-1">
                            <div class="row">
                                <p class="card-text"><i class="align-middle me-2" data-feather="map-pin"></i></p>
                            </div>
                        </div>
                        <div class="col-5 col-md-5">
                            <div class="row">
                                <div class="text-md text-muted">Location</div>
                            </div>
                            <div class="row">
                                <p class="text-md"><strong>{{ item.location|title }}</strong></p>
                            </div>
                        </div>
                    </div>
                    <!-- <a href="{% url 'event_update' item.id %}" class="btn btn-primary">Edit</a> -->
                </div>
                <div class="card-footer {% if not item.is_active  %}bg-secondary bg-opacity-25{% endif %}">
                    <div class="card-actions d-flex align-items-center justify-content-between w-100">
                        <!-- Badge di sebelah kiri -->
                        <span class="badge {% if item.is_active %}bg-success{% else %}bg-danger{% endif %}">
                            {% if item.is_active %}Active{% else %}Inactive{% endif %}
                        </span>
                        
                        <!-- Dropdown di sebelah kanan -->
                        <div class="dropdown">
                            <a href="#" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="true" class="show">
                                <i class="align-middle" data-feather="more-horizontal"></i> 
                            </a>
                            <div class="dropdown-menu dropdown-menu-end" data-bs-popper="static">
                                <!-- <a class="dropdown-item" href="{{ item.update_url }}">Edit</a> -->
                                <a href="#" data-micromodal-trigger="modal-{{ item.id }}" class="dropdown-item">Edit</a>
                                <form method="post" action="{{ item.close_url }}" onsubmit="return confirm('Are you sure you want to {% if item.is_active %}close{% else %}open{% endif %} this event?');">
                                    {% csrf_token %}
                                    <button type="submit" class="dropdown-item">{% if item.is_active %}Close event{% else %}Open event{% endif %}</button>
                                </form>
                                <form method="post" action="{{ item.delete_url }}" onsubmit="return confirm('Are you sure you want to delete this event?');">
                                    {% csrf_token %}
                                    <button type="submit" class="dropdown-item text-danger">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!-- Modal update -->
{% for item in items_list %}
<div class="modal micromodal-slide" id="modal-{{ item.id }}" aria-hidden="true">``
    <div class="modal__overlay" tabindex="-1">
        <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
            <header class="modal__header">
                <h2 class="modal__title" id="modal-1-title">
                    <strong>Event</strong> Update
                </h2>
                <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
            </header>
            <main class="modal__content" id="modal-1-content">
                {% if item.image %}
                <img id="previews" src="{{ item.image.url }}" class="card-img-top rounded mb-5" alt="Image of {{ item.name }}">
                {% else %}
                <img id="previews" src="{% static 'images/default_1280_720.jpg' %}" class="card-img-top rounded mb-5" alt="Default image">
                {% endif %}
                <!-- Form untuk Update Event -->
                <form method="post" enctype="multipart/form-data" action="{% url 'event_update' item.id %}">
                    {% csrf_token %}
                    <div class="row">
                        {% for field in item.form %}
                        {% if forloop.counter0|divisibleby:1 and not forloop.first %}
                            </div><div class="row">
                        {% endif %}
                        <div class="col-md-12 mb-2">
                            <div class="row">
                                <div class="col-md-4 field-key">
                                    <strong>{{ field.label|title }}</strong>
                                </div>
                                <div class="col-md-8">
                                    {{ field }}
                                    {% if field.errors %}
                                    <div><small class="form-text text-danger">{{ field.errors.0 }}</small></div>
                                    {% endif %}
                                </div>
                            </div>
                            <hr>
                        </div>
                        {% endfor %}
                    </div>
                    <button type="submit" class="btn btn-success">Submit</button>
                    <a class="btn btn-primary" data-micromodal-close aria-label="Close this dialog window">Cancel</a>
                </form>
            </main>
        </div>
    </div>
</div>
{% endfor %}
<!-- End Update Modal -->

<!-- Modal create -->
<div class="modal micromodal-slide" id="modal-1" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" >
      <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
        <header class="modal__header">
            <h2 class="modal__title" id="modal-1-title">
                <strong>Event</strong> Create
            </h2>
          <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
        </header>
        <main class="modal__content" id="modal-1-content">
            <img id="preview" src="{% static 'images/default_1280_720.jpg' %}" class="card-img-top rounded mb-5" alt="Default image">
            <form method="post" enctype="multipart/form-data" action="{% url 'event_create' %}">
                {% csrf_token %}
                <div class="row">
                    {% for field in form %}
                    {% if forloop.counter0|divisibleby:1 and not forloop.first %}
                        <!-- Start a new column for every second field -->
                        </div>
                        <div class="row">
                    {% endif %}
                    <div class="col-md-12 mb-2">
                        <div class="row">
                            <div class="col-md-4 field-key">
                                <strong>{{ field.label|title }}</strong>
                            </div>
                            <div class="col-md-8">
                                {{ field }}
                                {% if field.errors %}
                                <div><small class="form-text text-danger">{{ field.errors.0 }}</small></div>
                                {% endif %}
                            </div>
                        </div>
                        <hr>
                    </div>
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
                <a class="btn btn-primary" data-micromodal-close aria-label="Close this dialog window">Cancel</a>
            </form>
        </main>
        <!-- <footer class="modal__footer">
          <button class="modal__btn modal__btn-primary" data-micromodal-close>Continue</button>
          <button class="modal__btn" data-micromodal-close aria-label="Close this dialog window">Close</button>
        </footer> -->
      </div>
    </div>
</div>
<!-- End Create Modal -->
{% endblock content %}