{% extends 'layouts/base.html' %}
{% block content %}
{% load static %}
<div class="container-fluid p-0">
    <div class="row mb-2 mb-xl-3">
        <div class="col-auto d-none d-sm-block">
            <h3><strong>{{ title }}</strong> List</h3>
        </div>

        <div class="col-auto ms-auto text-end mt-n1">
            <!-- <a href="#" data-micromodal-trigger="modal-1" class="btn btn-success">New Event</a> -->
            <!-- <a href="{% url 'event_create' %}" class="btn btn-success">New Event</a> -->
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">{{ title }} Select</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="example" class="table table-responsive table-hover table mb-0">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Event Name</th>
                                    <!-- <th>Description</th> -->
                                    <th>From Event Date</th>
                                    <th>To Event Date</th>
                                    <th>Location</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in items %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ item.event_name }}</td>
                                    <!-- <td>{{ item.description|truncatechars:50 }}</td> -->
                                    <td>{{ item.from_event_date|date:"Y-m-d H:i" }}</td>
                                    <td>{{ item.to_event_date|date:"Y-m-d H:i" }}</td>
                                    <td>{{ item.location }}</td>
                                    <td>
                                        <a href="{% url 'event_update' item.id %}" class="btn btn-sm btn-success">Add Participants</a>
                                        <a href="{% url 'event_delete' item.id %}" class="btn btn-sm btn-warning">Detail</a>
                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="8" class="text-center">No events found.</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}