{% extends 'layouts/base.html' %}
{% block content %}
{% load static custom_filters %}
<div class="row mb-2 mb-xl-3">
    <div class="col-auto d-none d-sm-block">
        <h3><strong>{{ title|title }}</strong> {{ title_action|title }}</h3>
    </div>
    <div class="col-auto ms-auto text-end mt-n1">
        <!-- <a href="#" data-micromodal-trigger="modal-1" class="btn btn-success">New Event</a>
        <a href="{% url 'event_create' %}" class="btn btn-success">New Event</a> -->
        <button class="btn btn-primary" type="button" onclick="window.history.back();">Back</button>
    </div>
</div>
<div class="row">
    <div class="col-xl-3">
        <div class="card mb-4 border">
            <div class="card-header px-4 pt-4">
                <div class="card-actions float-end">
                </div>
                <p class="fs-3">{{ subtitle }}</p>
            </div>
            <div class="card-body">
                <!-- Membuat row responsif dengan Bootstrap -->
                <div class="row mb-3">
                    <div class="col-xl-12">
                        <div id="reader" class="border"></div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <!-- <div id="result"></div> -->
                        <div id="result-container">
                        {% block partial %}
                            {% include 'pages/partials/partial_scan.html' %}
                        {% endblock partial %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-9">
        <div class="card mb-4 border">
            <div class="card-header px-4 pt-4">
                <div class="card-actions float-end">
                </div>
                <p class="fs-3">{{ title_action }}</p>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="table-responsive">
                            <table id="table_regular" class="display row-border" style="width:100%">
                                <thead>
                                    <tr class="table-secondary">
                                    <th class="mw-25">No.</th>
                                    {% for key, value in fields.items %}
                                        <th>{{ value }}</th>
                                    {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in items %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        {% for field in fields %}
                                        <td>{{ item|get_field_value:field|safe }}</td>
                                        {% endfor %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function onScanSuccess(decodedText, decodedResult) {
        // Menampilkan hasil pemindaian QR code
        // document.getElementById('result').innerText = `QR Code Detected: ${decodedText}`;
        // Set nilai di #result untuk memicu HTMX
        // const resultDiv = document.getElementById('result');
        // resultDiv.innerText = decodedText;  // Set hasil scan sebagai teks
        // resultDiv.setAttribute('hx-vals', `{"qr_data": "${decodedText}"}`);  // Tambahkan parameter GET
        // resultDiv.click();  // Memicu event change
        // Kirim hasil scan ke backend Django
        // document.getElementById('result').innerText = `QR Code Detected: ${decodedText}`;
        fetch(`/get-participant/`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                // 'X-CSRFToken': 'your-csrf-token'  // Jika diperlukan
            },
            body: JSON.stringify({ scanned_data: decodedText })
        })
        .then(response => response.text())
        .then(html => {
            document.getElementById('result-container').innerHTML = html;
        })
        .catch(error => console.error('Error:', error));
    }
    function onScanFailure(error) {
        // Kamu bisa menangani error pemindaian jika perlu
        console.warn(error);
    }
    // Inisialisasi pemindai QR code
    const html5QrCode = new Html5Qrcode("reader");
    // Square QR box with edge size = 70% of the smaller edge of the viewfinder.
    let qrboxFunction = function(viewfinderWidth, viewfinderHeight) {
        let minEdgePercentage = 0.7; // 70%
        let minEdgeSize = Math.min(viewfinderWidth, viewfinderHeight);
        let qrboxSize = Math.floor(minEdgeSize * minEdgePercentage);
        return {
            width: qrboxSize,
            height: qrboxSize
        };
    }
    // Start scanning hanya dari kamera, tanpa mengizinkan pemindaian dari file gambar
    html5QrCode.start(
        { facingMode: "environment" },  // Memilih kamera belakang (environment camera)
        {
            fps: 10,  // frames per second, mengatur kecepatan pemindaian
            qrbox: qrboxFunction  // ukuran area untuk pemindaian QR code
        },
        onScanSuccess,
        onScanFailure
    ).catch(err => {
        console.error("Error during QR Code scanning: ", err);
    });
</script>
{% endblock content %}