<!-- partial_scan.html -->
{% load static custom_filters %}
{% if item %}
    <p class="fs-3">Details</p>
    <p class="card-text"><strong>Event:</strong> {{ item.invitation }}</p>
    <p class="card-text"><strong>Organization:</strong> {{ item.organization }}</p>
    <p class="card-text"><strong>Name:</strong> {{ item.guest_name }}</p>
    <p class="card-text"><strong>Email:</strong> {{ item.email }}</p>
    
    {% if not item.is_attending %}
        <form method="post" action="{% url 'participant_attendance' item.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-success">Check-In</button>
        </form>
    {% else %}
        <p class="card-text"><strong>Attendance Time:</strong> {{ item.attendance_time|date:"D, j M Y g:i A" }}</p>
    {% endif %}
{% elif error %}
    <p class="card-text text-danger">Error: {{ error }}</p>
{% else %}
    <p class="fs-3">Details</p>
    <p class="card-text"><strong>Event:</strong></p>
    <p class="card-text"><strong>Organization:</strong> </p>
    <p class="card-text"><strong>Name:</strong></p>
    <p class="card-text"><strong>Email:</strong></p>
{% endif %}

