{% load static custom_filters %}

{% for item in items %}
<!-- Modal untuk menghapus item -->
<div class="modal micromodal-slide" id="modal-delete-{{ item.id }}" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
        <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-delete-{{ item.id }}-title">
            <!-- Header Modal -->
            <header class="modal__header">
                <h2 class="modal__title" id="modal-delete-{{ item.id }}-title">
                    <strong>{{ title|title }}</strong> Delete
                </h2>
                <button class="modal__close" aria-label="Tutup modal" data-micromodal-close></button>
            </header>

            <!-- Konten Modal -->
            <main class="modal__content" id="modal-{{ item.id }}-content">
                <p>Are you sure you want to delete {{ title }} <strong>{{ item.guest_name }}</strong>?</p>
                <!-- Form untuk menghapus item -->
                <form method="post" action="{{ item.delete_url }}">
                    {% csrf_token %}
                    <div class="modal__footer">
                        <button type="button" class="btn btn-secondary" data-micromodal-close>Cancel</button>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                </form>
            </main>
        </div>
    </div>
</div>
{% endfor %}

{% for item in items %}
<!-- Modal untuk approve item -->
<div class="modal micromodal-slide" id="modal-approve-{{ item.id }}" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
        <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-approve-{{ item.id }}-title">
            <!-- Header Modal -->
            <header class="modal__header">
                <h2 class="modal__title" id="modal-approve-{{ item.id }}-title">
                    <strong>{{ title|title }}</strong> {{ item.action|title }}
                </h2>
                <button class="modal__close" aria-label="Tutup modal" data-micromodal-close></button>
            </header>
            <!-- Konten Modal -->
            <main class="modal__content" id="modal-{{ item.id }}-content">
                <p>Are you sure you want to {{ item.action }} {{ title }} <strong>{{ item.guest_name }}</strong>?</p>
                <!-- Form untuk menghapus item -->
                <form method="post" action="{{ item.approve_url }}">
                    {% csrf_token %}
                    <div class="modal__footer">
                        <button type="button" class="btn btn-secondary" data-micromodal-close>Cancel</button>
                        <button type="submit" class="btn btn-success">{{ item.action|capfirst }}</button>
                    </div>
                </form>
            </main>
        </div>
    </div>
</div>
{% endfor %}

{% comment %}
{% for item in items %}
<!-- Modal untuk attendance item -->
<div class="modal micromodal-slide" id="modal-attendance-{{ item.id }}" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
        <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-attendance-{{ item.id }}-title">
            <!-- Header Modal -->
            <header class="modal__header">
                <h2 class="modal__title" id="modal-attendance-{{ item.id }}-title">
                    <strong>{{ title|title }}</strong> {{ item.action_attendance|title }}
                </h2>
                <button class="modal__close" aria-label="Tutup modal" data-micromodal-close></button>
            </header>
            <!-- Konten Modal -->
            <main class="modal__content" id="modal-{{ item.id }}-content">
                <p>Are you sure you want to {{ item.action_attendance }} {{ title }} <strong>{{ item.guest_name }}</strong>?</p>
                <!-- Form untuk menghapus item -->
                <form method="post" action="{{ item.attendance_url }}">
                    {% csrf_token %}
                    <div class="modal__footer">
                        <button type="button" class="btn btn-secondary" data-micromodal-close>Cancel</button>
                        <button type="submit" class="btn btn-success">{{ item.action_attendance|capfirst }}</button>
                    </div>
                </form>
            </main>
        </div>
    </div>
</div>
{% endfor %}
{% endcomment %}



{% for item in items %}
<!-- Modal untuk text_modal_first item -->
<div class="modal micromodal-slide" id="modal-{{ item.text_modal_first }}-{{ item.id }}" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
        <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-{{ item.text_modal_first }}-{{ item.id }}-title">
            <!-- Header Modal -->
            <header class="modal__header">
                <h2 class="modal__title" id="modal-{{ item.text_modal_first }}-{{ item.id }}-title">
                    {{ item.text_modal_first|title }}
                </h2>
                <button class="modal__close" aria-label="Tutup modal" data-micromodal-close></button>
            </header>
            <!-- Konten Modal -->
            <main class="modal__content" id="modal-{{ item.item.id }}-content">
                <p>Are you sure you want to {{ item.li_first|lower }}"{{ item }}"?</p>
                <!-- Form untuk menghapus item -->
                <form method="post" action="{{ item.url_li_first }}">
                    {% csrf_token %}
                    <div class="modal__footer">
                        <button type="button" class="btn btn-secondary" data-micromodal-close>Cancel</button>
                        <button type="submit" class="btn btn-success">{{ item.li_first|capfirst }}</button>
                    </div>
                </form>
            </main>
        </div>
    </div>
</div>
{% endfor %}

{% for item in items %}
<!-- Modal untuk text_modal_second item -->
<div class="modal micromodal-slide" id="modal-{{ item.text_modal_second }}-{{ item.id }}" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
        <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-{{ item.text_modal_second }}-{{ item.id }}-title">
            <!-- Header Modal -->
            <header class="modal__header">
                <h2 class="modal__title" id="modal-{{ item.text_modal_second }}-{{ item.id }}-title">
                    {{ item.text_modal_second|title }}
                </h2>
                <button class="modal__close" aria-label="Tutup modal" data-micromodal-close></button>
            </header>
            <!-- Konten Modal -->
            <main class="modal__content" id="modal-{{ item.item.id }}-content">
                {% for field, value in fields.items %}
                <p>{{ value }}: {{ item|get_field_value:field|safe }}</p>
                {% endfor %}
                <img src="{{ item.qr_image }}" alt="QR Code" class="w-50">
            </main>
            <div class="modal__footer">
                <button type="button" class="btn btn-secondary" data-micromodal-close>Close</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}