{% load static custom_filters %}
{% for item in items %}
<!-- Modal detail -->
    {% for modal_title, modal_data in item.modals_detail.items %}
    <div class="modal fade" id="{{ modal_data.modal_id }}" tabindex="-1" aria-labelledby="{{ modal_data.modal_id }}Label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="{{ modal_data.modal_id }}Label">{{ modal_title }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xl-8">
                            {% for field, value in fields.items %}
                            <p class="fs-5">{{ value }}: <strong>{{ item|get_field_value:field|safe }}</strong></p>
                            {% endfor %}
                        </div>
                        <div class="col-xl-4">
                            {% if item.qr_image %}<img src="{{ item.qr_image }}" alt="QR Code" class="w-100">{% endif %}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endfor %}

<!-- new modal -->
{% for item in items %}
    {% for modal_title, modal_data in item.modals_form.items %}
    <div class="modal fade" id="{{ modal_data.modal_id }}" tabindex="-1" aria-labelledby="{{ modal_data.modal_id }}Label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post" action="{{ modal_data.action_url }}">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title" id="{{ modal_data.modal_id }}Label">{{ modal_title }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to {{ modal_title|lower }}?<br><strong>{{ form.instance }}</strong></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">{{ modal_title }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
{% endfor %}
