{% extends 'layouts/base_invitation.html' %}
{% block content %}
{% load static %}
<div class="row mb-2 justify-content-center">
    <div class="col-1">
        <div class="row">
            <p class="card-text"><i class="align-middle me-2" data-feather="award"></i></p>
        </div>
    </div>
    <div class="col-10 col-md-10">
        <div class="row">
            <div class="text-md text-muted">Event</div>
        </div>
        <div class="row">
            <p class="text-md"><strong>{{ item.event_name }}</strong></p>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-1">
        <div class="row">
            <p class="card-text"><i class="align-middle me-2" data-feather="calendar"></i></p>
        </div>
    </div>
    <div class="col-5 col-md-5">
        <div class="row">
            <div class="text-md text-muted">From</div>
        </div>
        <div class="row">
            <p class="text-md"><strong>{{ item.from_event_date|date:"D, j M Y" }}</strong></p>
        </div>
    </div>
    <div class="col-5 col-md-5">
        <div class="row">
            <div class="text-md text-muted">To</div>
        </div>
        <div class="row">
            <p class="text-md"><strong>{{ item.from_event_date|date:"D, j M Y" }}</strong></p>
        </div>
    </div>
</div>
<div class="row mb-2 justify-content-center">
    <div class="col-1">
        <div class="row">
            <p class="card-text"><i class="align-middle me-2" data-feather="clock"></i></p>
        </div>
    </div>
    <div class="col-10 col-md-10">
        <div class="row">
            <div class="text-md text-muted">Time</div>
        </div>
        <div class="row">
            <p class="text-md"><strong>{{ item.from_event_date|date:"g:i A" }} - {{ item.to_event_date|date:"g:i A" }}</strong></p>
        </div>
    </div>
</div>
<div class="row mb-2 justify-content-center">
    <div class="col-1">
        <div class="row">
            <p class="card-text"><i class="align-middle me-2" data-feather="map-pin"></i></p>
        </div>
    </div>
    <div class="col-10 col-md-10">
        <div class="row">
            <div class="text-md text-muted">Location</div>
        </div>
        <div class="row">
            <p class="text-md"><strong>{{ item.location|title }}</strong></p>
        </div>
    </div>
</div>
<div class="row mb-2 justify-content-center">
    <button type="button" id="add-row" class="btn btn-info mt-3 w-75" onclick="window.location.href='{% url 'participant_register' item.id %}'">
    Register Now!
    </button>
</div>
{% endblock content %}