{% extends 'layouts/base_invitation.html' %}
{% block content %}
{% load static %}
<form method="post">
    {% csrf_token %}
    <div id="guest-names-container">
        <div class="mb-3">
            <label for="organization" class="form-label">Organization</label>
            <input id="organization" type="text" class="form-control mt-1" name="organization" placeholder="Enter your organization name" required>
        </div>
        <div class="guest-name-row">
            <hr data-content="AND" class="hr-text">
            <div class="mb-3">
                <label for="guest_name" class="form-label">Name<span class="text-danger"> *</span></label>
                <input id="guest_name" type="text" class="form-control mt-1" name="guest_name" placeholder="Enter your name" required>
            </div>
            <div class="mb-3">
                <label for="guest_email">Email</label>
                <input id="guest_email" type="email" class="form-control mt-1" name="guest_email" placeholder="Enter your email">
            </div>
            <button type="button" class="btn btn-sm btn-danger remove-row">Remove</button>
        </div>
    </div>
    <button type="button" id="add-row" class="btn btn-info mt-3 w-100">
        <i class="align-middle" data-feather="users"></i> <span class="align-middle"> Add Participant</span>
    </button>
    <button type="submit" class="btn btn-success mt-2 w-100">
        <span class="align-middle">Submit</span>
    </button>
</form>
{% endblock content %}
    