{% extends 'layouts/base_invitation.html' %}
{% block content %}
{% load static %}
<div class="text-center d-flex flex-column justify-content-center align-items-center">
    <img src="{% static 'images/default_thanks.png' %}" class="w-50" alt="Thanks">
    <p class="card-text">Thank you for your response. You will now wait for further updates from us.</p>
    <a href="{% url 'invitation_detail' item.event.id %}" class="btn btn-primary mt-4 mb-2">Return to Invitation Page</a>
</div>
{% endblock content %}