{% extends 'layouts/base.html' %}
{% block content %}
{% load static custom_filters %}
<div class="row mb-2 mb-xl-3">
    <div class="col-auto d-none d-sm-block">
        <h3><strong>{{ title|title }}</strong> {{ title_action|title }}</h3>
    </div>
    <div class="col-auto ms-auto text-end mt-n1">
        {{ add_top_button|safe }}
    </div>
</div>

<div class="row">
{% for item in items %}
    <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 d-flex">
        <div class="card mb-4 border {% if not item.is_active %}bg-secondary bg-opacity-50{% endif %}">
            <div class="card-img-container">
                <img src="{{ item.card_image }}" class="card-img-top {% if not item.is_active %}opacity-25{% endif %}" alt="Card image">
                {{ item.card_text_status|safe }}
            </div>
            <div class="card-header border-top px-4 pt-4 {% if not item.is_active %}bg-secondary bg-opacity-50{% endif %}">
                {% if item.is_active%}
                <div class="card-actions float-end">
                    <!-- Dropdown di sebelah kanan -->
                    <div class="dropdown position-relative">
                        <a href="#" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="true" class="show">
                            <i class="align-middle" data-feather="more-horizontal"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end" data-bs-popper="static">
                            {% for value in item.buttons_action %}
                                {{ value|safe  }}
                            {% endfor %}        
                        </div>
                    </div>
                </div>
                {% endif %}
                <p class="fs-3"><strong>{{ item.card_title }}</strong></p>
            </div>
            <div class="card-body">
                <div class="row">
                    {% if item.card_subtitle %}<p>{{ item.card_subtitle|slice:"100" }}</p>{% endif %}
                    {% for key, value in fields.items %}
                    {{ value|safe }}
                    <p class="fw-bolder ms-4">{{ item|get_field_value:key|safe }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="card-footer {% if not item.is_active  %}bg-secondary bg-opacity-25{% endif %}">
                <div class="card-actions d-flex align-items-center justify-content-between w-100">
                    <!-- Badge di sebelah kiri -->
                    {{ item.card_badge|safe }} {{ item.total_participant }}
                </div>
            </div>
        </div>
    </div>
{% endfor %}
</div>
<!--
<script>
    function copyToClipboard(button) {
        // Ambil protokol (http/https)
        let protocol = window.location.protocol;

        // Ambil domain/IP & port dari website saat ini
        let host = window.location.host; // Contoh: "localhost:8000" atau "example.com"

        // Ambil short link dari atribut data
        let shortLink = button.getAttribute("data-short-link");

        // Gabungkan menjadi URL lengkap
        let fullURL = `${protocol}//${host}/${shortLink}`;

        // Salin ke clipboard
        navigator.clipboard.writeText(fullURL)
            .then(() => {
                alert('Link telah disalin: ' + fullURL);
            })
            .catch(err => {
                console.error('Gagal menyalin', err);
            });
    }
</script> -->


{% endblock content %}